* {
  font-family: 'Ali-Regular', 'sans-serif';
}

html {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Ali-Regular';
  src: local('Alibaba-PuHuiTi-Regular'),
    url('https://res.cloudinary.com/stackbunch/raw/upload/v1565955456/blog-assets/Alibaba-PuHuiTi-Regular_dp8dam.woff2');
  font-display: swap;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  border: none;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0) inset;
}
